<!-- <p>filtrar works!</p>-->
<div  class="filtrar" style="width: 18rem;">
<p>Filtrar por ubicación del vehículo</p>    
<ul  id="Ubicación">  
    <li><input type="checkbox" name="" id="dptoAntioquia"> Antioquia </li>
    <li><input type="checkbox" name="" id="dptoAtlantico"> Atlántico </li>
    <li><input type="checkbox" name="" id="dptoBolivar"> Bolívar </li>
    <li><input type="checkbox" name="" id="dptoCauca"> Cauca </li>
    <li><input type="checkbox" name="" id="dptoCundinamarca"> Cundinamarca </li>
    <li><input type="checkbox" name="" id="dptoNortedeSantander"> Norte de Santander  </li>
    <li><input type="checkbox" name="" id="dptoSantander"> Santander </li>
</ul>  

</div>


